extends layout

block content
    table#logintable
        th  Login
        tr
            td 아이디
            td(colspan="2") 
                input#put_id(type="text")
        tr
            td 비밀번호 
            td(colspan="2") 
                input#put_passwd(type="text")
        tr
            td(colspan="3" style="text-align: center")
    div#login_button
        input#log_in(type="submit" value="로그인")
        input#find_id(type="button" value="찾기")
