doctype html
html
  head
    title Register
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
    noscript
      link(rel="stylesheet" href="/assets/css/noscript.css")
    script.
      function comparePassword(obj){
      if(enter_password_confirm.value !== ''){
      if(enter_password.value !== enter_password_confirm.value){
      sameornot.textContent = '비밀번호가 일치하지 않습니다';
      sameornot.style.color = "red";
      sub_button.disabled = 'disabled';
      }else{
      sameornot.textContent = '비밀번호가 일치합니다';
      sameornot.style.color = "greenyellow";
      sub_button.disabled = false;
      }
      }else{
      sameornot.textContent = '비밀번호를 입력해주세요';
      sameornot.style.color = "white";
      }
      }
  style.
    #register_wrap_box {
    text-align: center;
    width: 1080px;
    margin: 20px auto;
    padding: 30px;
    }
    #register_form {
    width: 800px;
    margin: auto;
    font-size: 15px;
    }
    #register_id > #enter_id {
    width: 400px;
    height: 40px;
    margin-left: 25%;
    margin-bottom: 30px;
    }
    #register_password > #enter_password {
    width: 400px;
    height: 40px;
    margin-left: 25%;
    margin-bottom: 30px;
    }
    #register_password_confirm > #enter_password_confirm {
    width: 400px;
    height: 40px;
    margin-left: 25%;
    margin-bottom: 5px;
    }
    #register_nick > #enter_nick {
    margin-left: 25%;
    width: 400px;
    height: 40px;
    margin-bottom: 30px;
    }
    #submission {
    margin-top: 50px;
    margin-bottom: 50px;
    }
    .major > h2 {
    font-weight: bold;
    }
    #register_password_confirm > #sameornot {
    text-align: start;
    font-size: 15px;
    margin-left: 25%;
    }
  body.is-preload
    #page-wrapper
      header#header
        h1#logo
          a(href="/") Team 2
        nav#nav
          ul
            li
              a(href="/") Home
            li
              a(href="/semester") Semester
            li
              a(href="/group_member") Member
            if !user
              li
                a.button.primary(href="/login") Login
              li
                a.button.primary(href="/register") Register
            else
              li
                a#showNick= "안녕하세요, " + user.u_nickName + "님!"
                a.button.primary(href='/logout') Logout
      #register_wrap_box
        header.major
          h2 Register
        form#register_form(action='/register' method='post')
          #register_id
            h3  아이디 
            input#enter_id(type="id" name="id" required autofocus placeholder="아이디")
          #register_password
            h3  비밀번호 
            input#enter_password(type="password" name="password" required onchange="comparePassword(this)" placeholder="비밀번호 8자리 이상")
          #register_password_confirm
            h3  비밀번호 확인 
            input#enter_password_confirm(type="password" name="password_confirm" required onchange="comparePassword(this)")
            label#sameornot 비밀번호를 입력해주세요
          #register_nick
            h3  닉네임 
            input#enter_nick(type="nick" name="nick" required)
          #submission
            input#sub_button(type="submit" value="가입하기")
      footer#footer
        ul.icons
          li
            a.icon.alt.fa-twitter(href="#")
              span.label Twitter
          li
            a.icon.alt.fa-facebook(href="#")
              span.label Facebook
          li
            a.icon.alt.fa-linkedin(href="#")
              span.label LinkedIn
          li
            a.icon.alt.fa-instagram(href="#")
              span.label Instagram
          li
            a.icon.alt.fa-github(href="#")
              span.label GitHub
          li
            a.icon.alt.fa-envelope(href="#")
              span.label Email
        ul.copyright
          li Copyright@Team2
          li
            | Design: 
            a(href="http://html5up.net") HTML5 UP
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.dropotron.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
