doctype html
html
  head
    title Semester
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
    noscript
      link(rel="stylesheet" href="/assets/css/noscript.css")
  style.
    .gallery {
        display : flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .arr {
      display: inline;
    }

    input#img {
      margin: 10px auto;
    }

    input#submitting {
      margin-left: 10px;
    }

    footer {
      text-align: center;
    }

    .main-img {
      width: 300px;
      height: 300px;
      display: inline-block;
      margin: 15px;
    }

    #img_content_box{
      //-사진 설명 출력
      margin: 0 auto;
      width: 60%;
    }

    #img_con{ 
      //-사진 내용입력 input textaria
      width: 100%;
      height: 100px;
    }

    #showNick {
        margin-right: 20px;
    }
   
    .major > h2 {
        font-weight: bold;
        text-align: center;
    }

    h2 {
      text-align: center;
      padding-bottom: 50px;
    }
    
    img {
      width: 100%;
      height:100%;
      transition: all ease 0.2s;
      border-radius: 10%;
      border: inherit;
    }

    img:hover {
      transform: scale(1.1);
    }

    hr {
      border: solid 1px;
    }

    h3 {
      text-align: start;
      margin-top: 20px;
    }

    #editText {
      text-align: start;
      margin-bottom: 10px;
    }

    #edit1 {
      margin-right: 10px;
    }
   
  body.is-preload
    #page-wrapper
      header#header
        h1#logo
          a(href="/") Team 2
        nav#nav
          ul
            li
              a(href="/") Home
            li
              a(href="/semester") Semester
            li
              a(href="/group_member") Members
            li
              a(href="/QnA") Q & A
            if !user
              li
                a.button.primary(href="/login") Login
              li
                a.button.primary(href="/register") Register
            else
              li
                a#showNick= "안녕하세요, " + user.u_nickName + "님!"
                a.button.primary(href='/logout') Logout
      #main.wrapper.style1
        .container
          header.major
            h2 Local Semester
            p 일본 현지 학기제에서의 사진을 열람하여 정보를 알아가세요   
          section
          div#wrap_local_semester
            div#lcl_intro
              h2 Intro
              p 일본생활 적응력 향상 및 취업률 제고를 위한 일본현지학기제 운영
              p 2010년부터 일본 IT기업 주문반 학생들을 대상으로 일본 현지에서 현지학기제 운영(2013년 현재 제4차 일본 현지학기제 실시 중)
              p 2011년 현지학기제: 참여자 30명, 4주간 실시
              p 2012년 현지학기제: 참여자 38명, 6주간 실시
              p 2013년 현지학기제: 참여자 34명, 6주간 실시
              p 2014년 현지학기제: 참여자 34명, 6주간 실시
              p 2015년 현지학기제: 참여자 38명, 6주간 실시
              p 일본현지에서 일본어교육과 일본문화 탐방, 일본기업 견학 실시
              hr

          form#wrap_gallery(action='/semester/img' method='post' enctype='multipart/form-data')
              h2 Gallery
              div
              .inputImg
                textarea#img_con(name="content", cols="30", rows="10" maxlength = 100 placeholder="사진 내용을 입력해주세요.")
                input#img(type='file' name='userfile' value="asda")
                input#submitting(type='submit')
                hr
        .gallery    
          for arr in gallery
              .main-img
                img#image(src=arr.img onclick='imgClick('+arr.id+')')
        #img_content_box
      footer#footer
          ul.icons
            li
              a.icon.alt.fa-twitter(href="#")
                span.label Twitter
            li
              a.icon.alt.fa-facebook(href="#")
                span.label Facebook
            li
              a.icon.alt.fa-linkedin(href="#")
                span.label LinkedIn
            li
              a.icon.alt.fa-instagram(href="#")
                span.label Instagram
            li
              a.icon.alt.fa-github(href="#")
                span.label GitHub
            li
              a.icon.alt.fa-envelope(href="#")
                span.label Email
          ul.copyright
            li Copyright@Team2
            li
              | Design: 
              a(href="http://html5up.net") HTML5 UP
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.dropotron.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
    script(src='/javascripts/semester.js')