doctype html
html
  head
    title Semester
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
    noscript
      link(rel="stylesheet" href="/assets/css/noscript.css")
  style.
    #half1 {
    margin-top: 50px;
    }
    #half2 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: solid 2px;
    border-radius: 30px;
    }
    #half3 {
    margin-bottom: 50px;
    }
    .profile {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .profile img {
    border: solid 2px gray;
    border-radius: 20%;
    margin: 20px;
    transition: all ease 0.2s;
    }
    .profile img:hover {
    transform: scale(1.2);
    border: solid 2px purple;
    }
    .major > h2 {
        font-weight: bold;
    }
    .gallery {
      margin: auto;
      max-width: 1080px;
    }
    .arr {
      display: inline;
    }
    .main-img {
      display: inline;
    }
    .main-img > img {
      width: 20%;
      height: 140px;
    }
    #img_content {
      width: 20%;
      height: 50px;
    }

  body.is-preload
    #page-wrapper
      header#header
        h1#logo
          a(href="/") Team 2
        nav#nav
          ul
            li
              a(href="/") Home
            li
              a(href="/semester") Semester
            li
              a(href="/QnA") Q & A
            li
              a.button.primary(href="/login") Login
      #main.wrapper.style1
        .container
          header.major
            h2 Local Semester
            p 일본 현지 학기제에서의 사진 등을 열람하여 정보를 알아가세요           
          section
          div#lcl_schedule
            h2 일정
            p sibal
            hr
          div#wrap_local_semester
            div#lcl_intro
              h2 SIBAL
              p sibal
              hr
            div#lcl_schedule
              h2 SHIT
              p shit
              hr
            form#wrap_gallery(action='/img' method='post' enctype='multipart/form-data')
              h2 FUCK
              div
                textarea#img_con(name="content" cols="30" rows="10" maxlength=140)
                input#img(type='file' name='userfile')
                input(type="submit" value="제출")
          .gallery
            for arr in gallery
              .main-img
                img#image(src=arr.img name=arr.id)

      footer#footer
        ul.icons
          li
            a.icon.alt.fa-twitter(href="#")
              span.label Twitter
          li
            a.icon.alt.fa-facebook(href="#")
              span.label Facebook
          li
            a.icon.alt.fa-linkedin(href="#")
              span.label LinkedIn
          li
            a.icon.alt.fa-instagram(href="#")
              span.label Instagram
          li
            a.icon.alt.fa-github(href="#")
              span.label GitHub
          li
            a.icon.alt.fa-envelope(href="#")
              span.label Email
        ul.copyright
          li Copyright@Team2
          li
            | Design: 
            a(href="http://html5up.net") HTML5 UP
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.dropotron.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
    script(src='/javascripts/group_member.js')
